{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Sistem Check Point</title>
    </head>
    <body class="py-4">
        <div class="container-fluid">
            <div class="bg-success text-center text-white align-middle">
                <h2>Data berhasil dikirim</h2>
            </div>
            <br>
            <h3>Detail Check Point</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Jumlah manpower</th>
                        <td>{{ object.mp_jumlah|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Manpower pada posnya</th>
                        <td>{{ object.mp_pos|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Jumlah material</th>
                        <td>{{ object.material_jumlah|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Material sesuai standar</th>
                        <td>{{ object.material_std|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Mesin normal</th>
                        <td>{{ object.mesin_normal|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Metode sesuai standar</th>
                        <td>{{ object.metode_sesuai|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Plan vs Aktual</th>
                        <td>{{ object.plan_vs_actual|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Environment aman</th>
                        <td>{{ object.environment_aman|yesno:"Ya,Tidak" }}</td>
                    </tr>
                    <tr>
                        <th>Waktu check</th>
                        <td>{{ object.tanggal_check }}</td>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <td>{{ object.area.deskripsi }}</td>
                    </tr>
                    <tr>
                        <th>PIC</th>
                        <td>{{ object.person.first_name }} {{ object.person.last_name }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-inline p-2 text-end">
            <a href="{% url 'CpInput' %}" class="btn btn-primary">Cek Ulang</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
        </div>
    </body>
</html>